@page
@model MiProyectoDapperWeb.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mode.css">
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/svg.css">

    <title>Document</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="dark:bg-negro h-screen w-full grid grid-cols-[300px_1fr] grid-rows-[auto_1fr]">
    <header class="h-auto col-span-2" id="header">
    </header>
    <aside class="h-full w-full flex flex-col  justify-start items-center border-gris border-r-2" id="aside"></aside>
    <main class="flex flex-row" id="contenedor-productos">
        <div class="producto rounded-lg ml-8 mt-8 h-56 w-48 border-gris border-2" id="producto"></div>
        <div class="producto rounded-lg ml-8 mt-8 h-56 w-48 border-gris border-2" id="producto"></div>
        <div class="producto rounded-lg ml-8 mt-8 h-56 w-48 border-gris border-2" id="producto"></div>
        <div class="producto rounded-lg ml-8 mt-8 h-56 w-48 border-gris border-2" id="producto"></div>
         <div class="producto rounded-lg ml-8 mt-8 h-56 w-48 border-gris border-2" id="producto"></div>
    </main>
    <script type="module" src="/wwwroot/js/main.js"></script>
    <!-- <script src="./login.js"></script> -->
    
</body>
</html>
